/* css for application.css** page */
// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

// car index page
.card-container{
  box-shadow: 6px 6px 4px #ff4d00;
  min-width: 420px;
  max-height: 210px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F7F7F7;
}

.card-container img{
  width: 210px;
  height: 115px;
}

.card-container h1{
  font-family: Merriweather;
  font-weight: 700;
  font-size: 25px;
}

// footer css
//show page

#map {
  height: 90vh;
  width: 80vh;
  position: sticky;
  top: 0;
}

.multi-select-list {
  background-color: #EA6C36;
}

.back-text a{
text-decoration: none;
font-family:'Chivo', sans-serif;
font-size: 18px;
font-weight: bold;
color: black;

}

.list a{
  text-decoration: none;
  color: black;
}

.Rent-btn {
  text-decoration: none;
  color:white;
  font-weight: bolder;
  background: #EA6C36;
  position: relative;
  padding: 8px 24px;
  border-radius: 50px;
  margin-right: 1rem;
  font-weight: normal;

}
