
<div class="navbar navbar-expand-sm navbar-light navbar-lux_cars">

  <a class="logo" href="#">
    <%= image_tag "logo_lux_cars.png", alt: "car_logo", class: "d-inline-block align-text-top" %>

    <%= image_tag "Lux Cars.png", alt: "Lux Cars", id: "logo-brand-text" %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "btn btn-standard" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Become a renter", about_path, class: "btn btn-standard" %>
      </li>
    </ul>
  </div>
</div>
 <%# still need to update root path for 'become a renter'  %>
