<div class="home">
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <a class="btn btn-flat" href="#">Search</a>
    </div>
  </form>
</div>

<%= form_tag cars_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search by City or Car"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
