
  <div class="home max-w-full h-200 w-100">
    <div class="flex justify-center">
      <div class="mb-3 xl:w-100">
        <div class="input-group relative flex flex-wrap items-stretch w-full mb-4">
        <%= form_tag cars_path, method: :get, class: "flex" do %>
         <%= text_field_tag :query,
          params[:query],
          class: "form-control relative flex-auto min-w-0 block w-full  px-3 py-4 text-base  font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none",
          placeholder: "city/car"
          %>
          <%= submit_tag "Search", class: "search-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

 <%# FINISHED HOME %>
