<h1>Rental Requests</h1>
<% @user.cars.each do |car| %>
<% car.rentals.each do |request| %>
<%= request.user.email %>
<%= link_to 'Confirm', update_path(params: {request_id: request.id}), method: :put
 %>
<% end %>
<% end %>

<h1>My rentals</h1>
<% @user.rentals.where(status: true).each do |rental| %>
<%= rental.car.name %>
<% end %>
