.home {
  height: 100%;
  width: 100%;
  background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset_path("landing.jpg"));
  background-size: cover;
  background-color: black;
  padding: 300px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background: #FF4D00;
  transition: background 0.3s ease;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 80px;
  width: 500px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-flat:hover {
  background: grey;
  color: white;
}

.search-btn{
 min-width: 90px;
  background: #FF4D00;
  color: white;
  border-radius:0 10px 10px 0;
}

.search-btn:hover {
  opacity: 0.5;
}
