.navbar-lux_cars {
  justify-content: space-between;
  background: black;
}

.navbar-lux_cars .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.btn {
  color:white;
  background: #EA6C36;
  position: relative;
  padding: 8px 24px;
  border-radius: 50px;
  margin-right: 1rem;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;

}

.logo {
 background: black;
 display: flex;
 height: 55px;
 width: 131px;
 left: 10px;
 top: 13px;
 border-radius: 0px;
 color: #EA6C36;

}


.logo-brand-text {
 color: #EA6C36;
 font-family: Chivo;
 font-size: 50px;
 font-weight: lighter;
 font-style:normal;
 line-height: 60px;
 letter-spacing: 0em;
 text-align: left;
}

.dropdown {
 float: right;
 overflow: hidden;
}
