
@import "config/fonts";
// @import "tailwind.config";
// @import "tailwindcss/base";
// @import "tailwindcss/utilities";
// @import "tailwindcss/components";
@import "font-awesome-sprockets";
@import "font-awesome";



@import "components/index";
@import "pages/index";


#map { position: absolute; top: 0; bottom: 0; width: 600px; height: 600px; }
