
<div class="max-w-sm rounded">
<% @cars.each do |car| %>
<div class="card-container">
<div>
<h2 class="car_name"><%= car.name %> <%= car.model %></h2>
</div>
<%= cl_image_tag car&.photo&.key || "", height: 300, width: 400, crop: :fill %>
  <div class="px-6 pt-4 pb-2">
  <%= link_to "View car", car_path(car),  class: "view_car" %>
  </div>
<% end %>
</div>
</div>



<%# if car.photo.attached? %>
